.navbarbrc {
    z-index: 2;
}
.skinsize{
    display: block;
}
@media (min-width:768px) {
    .skinsize{
        font-size: 20px;
    }
}
.carouselpage{
    position: relative;
    z-index: 1;
}

@media (max-width: 992px) {
.navsizer {
display: block;
}
}
.textsize1{
    font-size: 35px;
}
.txtbr{
    background-color: rgb(245, 243, 243);
}
#brandtxt {
    font-size: 3rem;
}
.watchbox{
    overflow-x: scroll;
    
}
@media (min-width: 1000px) {
    txtwatchstar {
        display:none
    }
}
.fontfam{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.txtdeco{
    text-decoration: none;
}
html {
    margin: auto;
}
.itemcolor {
    color: black"
}
.itemcolor1 {
    color: white;
}
.txtdecoremove{
    text-decoration: none;
}
.iconcolor {
    color: black;
}
.iconcolorremove {
    color: white;
}
